<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 <mapper namespace="org.foxconn.springbootStart.dao.UserDao">
 	<select id="getUserByName" parameterType="org.foxconn.springbootStart.entity.EUSER" 
 	resultType="org.foxconn.springbootStart.entity.EUSER">
 	    SELECT LOGONNAME,PASSWORD FROM EUSER
 	    WHERE LOGONNAME=  #{LOGONNAME}
 	</select>
 </mapper>        
 